/* nav.css */
.content {
  width: 500px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.3px;
  color: black;
  position: relative; /* Add relative positioning */
}

.content a.active {
  color: black;
  font-weight: 900;
  text-decoration: underline;
}

/* Add a class for the menu icon */
.menu-icon {
  display: none; /* Initially hide the menu icon */
}

/* Media query for iPhone 13 or similar devices */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .content.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #ffffff;
    border: 2px solid black;
    padding: 10px;
    width: 50%;
  }

  .content.active a {
    color: black;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    padding: 5px 0;
  }

  .menu-icon {
    display: block;
    position: relative;
    right: 40px;
    top: 3px;
    cursor: pointer;
  }

  .navigation {
    justify-content: space-between;
  }

  .content {
    display: none;
  }
}
